node_modules
package-lock.json
teste.txt
palavras_contadas.txt
dados.xlsx
txt.txt
contador_mes_12.txt
amostras_mes_12.xlsx
resultado_mes12.txt
amostras_mes_1.xlsx
amostrasHemosta_mes_1.xlsx
contador_mes_1.txt
contadorHemosta_mes_1.txt
para-xlsx.txt
para-xlsxhemosta.txt
resultadoHemosta_mes_1.txt
resultados_mes_1.xlsx
resultadosHemosta_mes_1.xlsx
